<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>login</title>
</head>
<body>
  <form id="form">
    <input type="text" placeholder="登录名" name="username" />
    <input type="password" placeholder="密码" name="password" />
    <button type="button" id="login-btn">登录</button>
    <button type="button" id="register-btn">注册</button>
  </form>
  <script src="./js/util.js"></script>
  <script src="./js/login.js"></script>
</body>
</html>